<section class="animate__animated animate__fadeIn animate_faster">

    <article class="box form-wrapper animate__animated animate__fadeInRight animate_faster">
        <h2 class="title">{{ title }}</h2>

        <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="mb-3">
                <label class="form-label">Nombres *</label>
                <input type="text" formControlName="nombre" class="form-control">
                <div *ngIf="form.controls.nombre?.invalid && (form.controls.nombre?.dirty || form.controls.nombre?.touched)" class="form-text text-danger">
                    <span *ngIf="form.controls.nombre.errors?.required">Nombres es requerido</span>    
                    <span *ngIf="form.controls.nombre.errors?.minlength">Mínimo {{ MIN_LENGTH_NOMBRE }} caracteres</span>    
                    <span *ngIf="form.controls.nombre.errors?.maxlength">Máximo {{ MAX_LENGTH_NOMBRE }} caracteres</span>    
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Apellidos *</label>
                <input type="text" formControlName="apellidos" class="form-control">
                <div *ngIf="form.controls.apellidos?.invalid && (form.controls.apellidos?.dirty || form.controls.apellidos?.touched)" class="form-text text-danger">
                    <span *ngIf="form.controls.apellidos.errors?.required">Apellidos es requerido</span>    
                    <span *ngIf="form.controls.apellidos.errors?.minlength">Mínimo {{ MIN_LENGTH_NOMBRE }} caracteres</span>    
                    <span *ngIf="form.controls.apellidos.errors?.maxlength">Máximo {{ MAX_LENGTH_APELLIDOS }} caracteres</span>    
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Email *</label>
                <input type="text" formControlName="email" class="form-control">
                <div *ngIf="form.controls.email?.invalid && (form.controls.email?.dirty || form.controls.email?.touched)" class="form-text text-danger">
                    <span *ngIf="form.controls.email.errors?.required">Apellidos es requerido</span>    
                    <span *ngIf="form.controls.email.errors?.pattern">Debe ingresar un email válido</span>    
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Contraseña *</label>
                <input type="password" formControlName="password" class="form-control">
                <div *ngIf="form.controls.password?.invalid && (form.controls.password?.dirty || form.controls.password?.touched)" class="form-text text-danger">
                    <span *ngIf="form.controls.password.errors?.required">Contraseña es requerido</span>    
                    <span *ngIf="form.controls.password.errors?.minlength">Mínimo {{ MIN_LENGTH_PASSWORD }} caracteres</span>    
                    <span *ngIf="form.controls.password.errors?.maxlength">Máximo {{ MAX_LENGTH_PASSWORD }} caracteres</span>    
                </div>
            </div>

            <div class="form-footer">
                <app-spinner *ngIf="showSpinner"></app-spinner>
                <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Registrarme</button>
                <p>
                    Ya tienes una cuenta?
                    <a routerLink="/auth/login">Accede</a>
                </p>
            </div>
        </form>
    </article>
    
</section>