@import './src/assets/scss/colors';

section {
    
    .form-wrapper {
        padding: 2.5em;
        padding-bottom: 1em;
        margin: auto;
        width: 450px;
        margin-top: 3em;

        .title {
            color: $azul-300;
            margin-bottom: 1em;
            text-align: center;
        }
        .form-footer {
            margin-top: 3em;
            text-align: center;

            p {
                margin-top: 2em;
                text-align: left;
            }
        }
    }
}
@media (max-width: 400px) {
    .login {
        width: 90%;
    }
}