<h2>{{ title }}</h2>
        
<article class="box animate__animated animate__fadeIn animate_faster">
    <button routerLink="crear" mat-raised-button color="primary">Crear nuevo</button>

    <table class="animate__animated animate__fadeIn animate__faster">
        <thead>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Capacidad tripulantes</th>
            <th>Estado</th>
            <th>Capacidad tripulantes</th>
        </thead>

        <tbody>
            <tr ></tr>
        </tbody>
    </table>
</article>