<article class="box animate__animated animate__fadeIn animate_faster">

    <header class="section_header">
        <h2>{{ title }}</h2>
        <button routerLink="/admin/aeronaves/crear" class="btn btn-primary">Crear nuevo</button>
    </header>

    <table class="table" *ngIf="aeronaves.length > 0; else loading">
        <thead>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tripulantes</th>
            <th>Disponible</th>
            <th>Acciones</th>
        </thead>

        <tbody>
            <tr *ngFor="let nave of aeronaves">
                <td><img [src]="nave.imagen" width="60"></td>
                <td>{{ nave.nombre }}</td>
                <td>{{ nave.capacidadTripulantes }}</td>
                <td>{{ nave.disponible ? 'Si' : 'No' }}</td>
                <td class="actions">
                    <i [routerLink]="['/admin/aeronaves/detalle', nave.id]" class='bx bx-show-alt' title="Ver Detalles"></i>
                    <i [routerLink]="['/admin/aeronaves/editar', nave.id]" class='bx bx-pencil' title="Editar"></i>
                    <i (click)="onDelete(nave.id)" class='bx bx-trash-alt' title="Eliminar"></i>
                </td>
            </tr>
        </tbody>
    </table>

    <ng-template #loading>
        <app-spinner></app-spinner>
    </ng-template>

</article>