<article class="box animate__animated animate__fadeIn animate_faster">

    <header class="section_header">
        <h2>{{ title }}</h2>
        <button routerLink="/admin/usuarios/crear" class="btn btn-primary">Crear nuevo</button>
    </header>

    <table class="table" *ngIf="users.length > 0; else noData">
        <thead>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Acciones</th>
        </thead>

        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.nombre }}</td>
                <td>{{ user.apellidos }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.rol }}</td>
                <td class="actions">
                    <i [routerLink]="['/admin/usuarios/detalle', user.id]" class='bx bx-show-alt' title="Ver Detalles"></i>
                    <i [routerLink]="['/admin/usuarios/editar', user.id]" class='bx bx-pencil' title="Editar"></i>
                    <i (click)="onDelete(user.id)" class='bx bx-trash-alt' title="Eliminar"></i>
                </td>
            </tr>
        </tbody>
    </table>

    <ng-template #noData>
        <p class="text-muted">No existen registros</p>
    </ng-template>

    <app-spinner *ngIf="showSpinner"></app-spinner>

</article>