<article class="box animate__animated animate__fadeIn animate_faster">
    
    <header class="section_header">
        <h2>{{ title }}</h2>
        <button routerLink="/admin/aeronaves" class="btn btn-danger">Atrás</button>
    </header>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off" class="row">
        <div class="fileupload col-md-4">
            <article class="upload_control">
                <label class="form-label">Imagen *</label>
                <img [src]="imgPreviewUrl.length > 0 ? imgPreviewUrl : form.controls.imagen.value" class="default_image">
                <input (input)="onFileChange($event)" type="file" [accept]="allowedFormats">
            </article>
        </div>

        <article class="col-md-8">
            <div class="mb-4">
                <label class="form-label">Nombre de la aeronave *</label>
                <input type="text" formControlName="nombre" class="form-control">
            </div>

            <div class="mb-4">
                <label class="form-label">Capacidad de tripulantes *</label>
                <input type="type" formControlName="capacidadTripulantes" class="form-control">
            </div>

            <div class="mb-4 form-check form-switch">
                <label class="form-label">Disponible?</label>
                <input class="form-check-input" type="checkbox">
            </div>

            <div class="form-footer">
                <app-spinner *ngIf="showSpinner"></app-spinner>
                <button *ngIf="!showSpinner" [disabled]="form.invalid" type="submit" class="btn btn-primary">Actualizar</button>
            </div>        
        </article>
    </form>
</article>