<article class="box animate__animated animate__fadeIn animate_faster">
    
    <header class="section_header">
        <h2>{{ title }}</h2>
        <button routerLink="/admin/aeronaves" class="btn btn-danger">Atrás</button>
    </header>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off" class="row">
        <div class="fileupload col-md-4">
            <article class="upload_control">
                <label class="form-label">Imagen *</label>
                <img [src]="imgPreviewUrl.length > 0 ? imgPreviewUrl : defaultImage" class="default_image">
                <input (input)="onFileChange($event)" type="file" [accept]="allowedFormats">
            </article>
        </div>

        <article class="col-md-8">
            <div class="mb-4">
                <label class="form-label">Nombre de la aeronave *</label>
                <input type="text" formControlName="nombre" class="form-control">
            </div>

            <div class="mb-4">
                <label class="form-label">Capacidad de tripulantes *</label>
                <input type="type" formControlName="capacidadTripulantes" class="form-control">
            </div>

            <div class="mb-4">
                <label class="form-label">Precio de alquiler *</label>
                <input type="type" formControlName="precio" class="form-control">
            </div>

            <div class="mb-4 form-check form-switch">
                <label class="form-label">Disponible</label>
                <input class="form-check-input" type="checkbox">
            </div>

            <div class="mb-4">
                <label class="form-label">Descripción</label>
                <textarea class="form-control" formControlName="descripcion" rows="3"></textarea>
                <div *ngIf="form.controls.descripcion?.invalid && (form.controls.descripcion?.dirty || form.controls.descripcion?.touched)" class="form-text text-danger">
                    <span *ngIf="form.controls.descripcion.errors?.minlength">Mínimo {{ MIN_LENGTH_DESCRIPCION }} caracteres</span>    
                    <span *ngIf="form.controls.descripcion.errors?.maxlength">Máximo {{ MAX_LENGTH_DESCRIPCION }} caracteres</span>    
                </div>
            </div>

            <div class="form-footer">
                <app-spinner *ngIf="showSpinner"></app-spinner>
                <button *ngIf="!showSpinner" [disabled]="form.invalid" type="submit" class="btn btn-primary">Crear</button>
            </div>        
        </article>
    </form>
</article>